/* styles/product_responsive.css */

/* for tablet */
@media only screen and (min-width: 551px) and (max-width: 1150px){
    nav.responsive{
        /*display: none;*/
    }
}

/* for mobile phone */
@media only screen and (max-width: 550px){

    div#products{
        display: block;
        width: 100%;
    }

    div#products > div.product{
        width: 100%;
        height: auto;
    }

    div.product > div.headerProduct{
        display: block;
    }

    nav.responsive{
        display: none;
    }

    div.product > div.detailProduct{
        display: block;
        padding: 10px 0px;
    }

    div.text{
        display: initial;
        position: initial;
        top: 0px;
        transform: none;
    }

    div.product:hover > div.headerProduct{ display: inline-block; }
    div.product:hover > div.detailProduct{ display: inline-block; }

    div.text > img, div.text > br.imageResponsive{
        display: none;
    }
    
}