/* styles/responsive.css */

/* for tablet */
@media only screen and (min-width: 551px) and (max-width: 1150px){
    div.subMenu{
        font-size: 12px;
    }
}

/* for mobile phone */
@media only screen and (max-width: 550px){

    div.navbar > div#navbarLogo{
        width: 100%;
        background-position: center;
    }

    div.navbar > div#navbarBurger{
        display: inline-block;
    }

    div.navbar > div#navbarMenu{
        display: none;
        margin-top: 0px;
        width: 100%;
        background-color: gray;
    }

    div#navbarMenu > div.menuContent{
        display: inline-block;
        padding: 10px 0px 10px;
        height: 20px;
        width: 100%;
        color: white;
    }

    div.menuContent > div.mainMenu{
        display: inline-block;
        padding: 0px 0px 10px;
        height: 20px;
        width: 100%;
        color: white;
        line-height: initial;
    }

    div.subMenu > a{
        display: inline-block;
        padding: 10px 0px 0px;
        height: 30px;
        width: 100%;
        color: white;
    }

    div.menuContent > div.subMenu{
        position: initial;
        background-color: gray;
        width: 100%;
    }

    div.menuContent:hover > .subMenu {
        /*display: none;*/
    }

}