<!DOCTYPE html>
<html>
<head>
	<title>Basic2</title>
	<link rel="stylesheet" type="text/css" href="../styles/product.css">
	<link rel="stylesheet" type="text/css" href="../styles/base.css">
</head>
<body>
	<div class="table basic">
		<div class="row">
			<div class="cell"><img src="../assets/image/basic1.jpg"></div>
			<div class="cell">
				<br><br>Duncan Proyo<br>Body material : plastic<br>Machine type : regular
			</div>

		</div>
		<div class="row">
			<div class="cell"><img src="../assets/image/basic2.jpg"></div>
			<div class="cell">
				<br><br>Duncan ProFly<br>Body material : plastic<br>Machine type : regular
			</div>
		</div>
		<div class="row">
			<div class="cell"><img src="../assets/image/basic3.png"></div>
			<div class="cell">
				<br><br>Imperial®<br>Body material : plastic<br>Machine type : regular
			</div>
		</div>
		<div class="row">
			<div class="cell"><img src="../assets/image/basic4.png"></div>
			<div class="cell">
				<br><br>Butterfly®<br>Body material : plastic<br>Machine type : regular
			</div>
		</div>
		<div class="row">
			<div class="cell"><img src="../assets/image/basic5.jpg"></div>
			<div class="cell">
				<br><br>Yomega Raider Yoyo<br>Body material : plastic<br>Machine type : bearing
			</div>
		</div>
		<div class="row">
			<div class="cell"><img src="../assets/image/basic6.jpg"></div>
			<div class="cell">
				<br><br>Classic Wood Yoyo<br>Body material : wood<br> Machine type : regular
			</div>
		</div>
		<div class="row">
			<div class="cell"><img src="../assets/image/basic7.jpg"></div>
			<div class="cell">Newton Wooden Yoyo</div>
		</div>
		<div class="row">
			<div class="cell"><img src="../assets/image/basic8.jpg"></div>
			<div class="cell">Spintastics Technic Yoyo</div>
		</div>
	</div>
</body>
</html>