<!DOCTYPE html>
<html>
<head>
	<title>Basic</title>
	<link rel="stylesheet" type="text/css" href="../styles/product.css">
	<link rel="stylesheet" type="text/css" href="../styles/base.css">
</head>
<body>
	<div class="products">
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/basic1.jpg"><br>
				Duncan Proyo
			</div>
			<div class="detailProduct">
				<div class="bubble">
					<b>Duncan Proyo</b><br>
					Body material : plastic<br>
					Machine type : regular
				</div>
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/basic2.jpg"><br>
				Duncan ProFly
			</div>
			<div class="detailProduct">
				<br><br><br><b>Duncan ProFly</b>
				<br>Body material : plastic
				<br>Machine type : regular
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/basic3.png"><br>
				Imperial®
			</div>
			<div class="detailProduct">
				<br><br><br><b>Imperial®</b>
				<br>Body material : plastic
				<br>Machine type : regular
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/basic4.png"><br>
				Butterfly®
			</div>
			<div class="detailProduct">
				<br><br><br><b>Butterfly®</b>
				<br>Body material : plastic
				<br>Machine type : regular
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/basic5.jpg"><br>
				Yomega Raider Yoyo
			</div>
			<div class="detailProduct">
				<br><br><br><b>Yomega Raider Yoyo</b>
				<br>Body material : plastic
				<br>Machine type : bearing
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/basic6.png"><br>
				Limelight™ Yo-Yo
			</div>
			<div class="detailProduct">
				<br><br><br><b>Limelight™ Yo-Yo</b>
				<br>Body material : plastic
				<br> Machine type : regular
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/basic7.jpg"><br>
				Newton Wooden Yoyo
			</div>
			<div class="detailProduct">
				<br><br><br><b>Newton Wooden Yoyo</b>
				<br>Body material : wood
				<br>Machine type : regular
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/basic8.jpg"><br>
				Spintastics Technic Yoyo
			</div>
			<div class="detailProduct">
				<br><br><br><b>Spintastics Technic Yoyo</b>
				<br>Body material : wood
				<br>Machine type : regular
			</div>
		</div>
	</div>
<!-- 
	<div style="width: 80vw; height: 100px; background-color: red;"></div>
	<br><br><br><br><br><br><br><br><br> -->
</body>
</html>