<!-- views/basic.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../styles/base.css">
        <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
        <link rel="stylesheet" type="text/css" href="../styles/footer.css">
        <link rel="stylesheet" type="text/css" href="../styles/product.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="navbar">
            <a id = "logo" href="../index.html"></a>
            <div id = "navbarBurger" onclick = "displayMenu()"></div>
            <div id = "navbarMenu">
                <a class="menuContent" href="../index.html">HOME</a>
                <div class="menuContent">
                    <div id = "dropDown" onclick = "displaySubMenu()">
                        TYPES
                    </div>
                    <div class="subContent">
                        <a href="basic.html">BASIC</a>
                        <a href="professional.html">PROFESSIONAL</a>
                    </div>
                </div>
                <a class="menuContent" href="tutorial.html">TUTORIALS</a>
                <a class="menuContent" href="contact.html">CONTACTS</a>
                <a class="menuContent" href="registration.html">REGISTRATION</a>
            </div>
        </div>
        <h1>Basic Yoyo</h1>
        <div id="products">
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/basic1.jpg"><br>
                    <nav class="responsive">Duncan Proyo</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/basic1.jpg"><br class="imageResponsive">
                        <b>Duncan Proyo</b><br>
                        Body material : plastic<br>
                        Machine type : regular
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/basic2.jpg"><br>
                    <nav class="responsive">Duncan ProFly</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/basic2.jpg"><br class="imageResponsive">
                        <b>Duncan ProFly</b>
                        <br>Body material : plastic
                        <br>Machine type : regular
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/basic3.png"><br>
                    <nav class="responsive">Imperial<sup>&reg;</sup></nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/basic3.png"><br class="imageResponsive">
                        <b>Imperial<sup>&reg;</sup></b>
                        <br>Body material : plastic
                        <br>Machine type : regular
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/basic4.png"><br>
                    <nav class="responsive">Butterfly<sup>&reg;</sup></nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/basic4.png"><br class="imageResponsive">
                        <b>Butterfly<sup>&reg;</sup></b>
                        <br>Body material : plastic
                        <br>Machine type : regular
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/basic5.jpg"><br>
                    <nav class="responsive">Yomega Raider Yoyo</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/basic5.jpg"><br class="imageResponsive">
                        <b>Yomega Raider Yoyo</b>
                        <br>Body material : plastic
                        <br>Machine type : bearing
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/basic6.png"><br>
                    <nav class="responsive">Limelight<sup>TM</sup> Yo-Yo</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/basic6.png"><br class="imageResponsive">
                        <b>Limelight<sup>TM</sup> Yo-Yo</b>
                        <br>Body material : plastic
                        <br> Machine type : regular
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/basic7.jpg"><br>
                    <nav class="responsive">Newton Wooden Yoyo</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/basic7.jpg"><br class="imageResponsive">
                        <b>Newton Wooden Yoyo</b>
                        <br>Body material : wood
                        <br>Machine type : regular
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/basic8.jpg"><br>
                    <nav class="responsive">Spintastics Technic Yoyo</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/basic8.jpg"><br class="imageResponsive">
                        <b>Spintastics Technic Yoyo</b>
                        <br>Body material : plastic
                        <br>Machine type : regular
                    </div>
                </div>
            </div>
        </div>
        <div id = "footer">
            <div class = "container">
                <div id = "text">
                    Follow Us
                </div>
                <div id = "logo">
                    <div class = "icon"><img src="../assets/socials/instagram-logo-white.png"></div>
                    <div class = "icon"><img src="../assets/socials/tumblr-logo-button-white.png"></div>
                    <div class = "icon"><img src="../assets/socials/twitter-logo-button-white.png"></div>
                    <div class = "icon"><img src="../assets/socials/facebook-logo-button-white.png"></div>
                    <div class = "icon"><img src="../assets/socials/google-plus-logo-button-white.png"></div>
                </div>
            </div><div class = "container">
                <div id = "subscribe">
                </div>
                <div id = "copyright">
                    Copyright &copy; JS Yoyo 2018
                </div>
            </div>
        </div>
    </body>
    <script src="../scripts/libs/jquery-latest.min.js"></script>
    <script src="../scripts/navbar.js"></script>
    <script src="../scripts/product.js"></script>
</html>

<!-- EOF -->