<!-- views/contact.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../styles/base.css">
        <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
        <link rel="stylesheet" type="text/css" href="../styles/footer.css">
        <link rel="stylesheet" type="text/css" href="../styles/contact.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="navbar">
            <a id = "logo" href="../index.html"></a>
            <div id = "navbarBurger" onclick = "displayMenu()"></div>
            <div id = "navbarMenu">
                <a class="menuContent" href="../index.html">HOME</a>
                <div class="menuContent">
                    <div id = "dropDown" onclick = "displaySubMenu()">
                        TYPES
                    </div>
                    <div class="subContent">
                        <a href="basic.html">BASIC</a>
                        <a href="professional.html">PROFESSIONAL</a>
                    </div>
                </div>
                <a class="menuContent" href="tutorial.html">TUTORIALS</a>
                <a class="menuContent" href="contact.html">CONTACTS</a>
                <a class="menuContent" href="registration.html">REGISTRATION</a>
            </div>
        </div>
        <div id = "history">
            <h1>About Us</h1>
            <div id="founderPicture"></div><div class="container">
                <div class="text">
                    JS Yo-yo is a yo-yo company launched on January 1, 2016. It was founded by Joseph Rock with his friend and fellow Binus University student Stephen Paper.  The deployment was initially limited by the founders to Binus students, but was expanded to other in the West Jakarta area, and gradually most in the Jakarta, by March 2016, to everyone in Indonesia without any restriction.
                </div>
                <div class="text">
                    The JS Yo-yo story begins at Binus University.  Working in their dorm, Joseph Rock and Stephen Paper created yo-yos product with their brilliant idea and creativity.  Soon, they caught attention to several investors. With the investment, they expanded their business and finally, JS Yo-yo was officially born.
                </div>
                <div class="text">
                    Today, with more than 3,000 employees in 3 different countries, JS Yo-yo makes hundreds of products used by millions of people across the world, from basic to professional yo-yos.
                </div>
            </div>
        </div>
        <div id="contact">
            <h1>Contact Us</h1>
            <div id="maps"></div><div class="container">
                <div class="text">
                    If you have any questions or inquiries, don't hesitate to contact us
                </div>
                <div class="text">
                    <b>JS Yoyo Main Store and Office</b><br>
                    825 Bering Drive<br>
                    +62 812 3456 7890<br>
                    ContactUs@JS-Yoyo.com
                </div>
                <h2>Our Social Media</h2>
                <div class="text">
                    <b>Facebook</b>: JS Yoyo<br>
                    <b>Google+</b>: JS Yoyo<br>
                    <b>Twitter</b>: @JSYoyo<br>
                    <b>Instagram</b>: @JSYoyoOfficial<br>
                    <b>Tumblr</b>: JS Yoyo
                </div>
            </div>
        </div>
        <div id = "footer">
            <div class = "container">
                <div id = "text">
                    Follow Us
                </div>
                <div id = "logo">
                    <div class = "icon"><img src="../assets/socials/instagram-logo-white.png"></div>
                    <div class = "icon"><img src="../assets/socials/tumblr-logo-button-white.png"></div>
                    <div class = "icon"><img src="../assets/socials/twitter-logo-button-white.png"></div>
                    <div class = "icon"><img src="../assets/socials/facebook-logo-button-white.png"></div>
                    <div class = "icon"><img src="../assets/socials/google-plus-logo-button-white.png"></div>
                </div>
            </div><div class = "container">
                <div id = "copyright">
                    Copyright &copy; JS Yoyo 2018
                </div>
            </div>
        </div>
    </body>
    <script src="../scripts/libs/jquery-latest.min.js"></script>
    <script src="../scripts/navbar.js"></script>
</html>

<!-- EOF -->