<div id = "footer">
    <div class = "container">
        <div id = "text">
            Follow Us
        </div>
        <div id = "logo">
            <div class = "icon"><img src="../assets/instagram-logo-white.png"></div>
            <div class = "icon"><img src="../assets/tumblr-logo-button-white.png"></div>
            <div class = "icon"><img src="../assets/twitter-logo-button-white.png"></div>
            <div class = "icon"><img src="../assets/facebook-logo-button-white.png"></div>
            <div class = "icon"><img src="../assets/google-plus-logo-button-white.png"></div>
        </div>
    </div>
    <div class = "container">
        <div id = "subscribe">
        </div>
        <div id = "copyright">
            Copyright © JS Yoyo 2018
        </div>
    </div>
</div>