<!-- views/home.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../styles/firstpage.css">
    <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="../styles/content.css">
    <link rel="stylesheet" type="text/css" href="../styles/types.css">
    <link rel="stylesheet" type="text/css" href="../styles/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id = "first">
        <div id = "title">
            <div class = "container">
                <img src="../assets/logo.png">
            </div>
            <div class = "text">
                A PLACE FOR VARIOUS THINGS ABOUT YOYOS
            </div>
        </div>
        <div id = "rightside">
            <div id = "imagetop" onclick = "totypes()">
                <div class = "container">
                    <div class = "text">
                        <h1>TYPES</h1>
                        Search numerous types of yoys and its specification
                    </div>
                </div>
            </div>
            <div id = "imagebottom" onclick = "">
                <div class = "container">
                    <div class = "text">
                        <h1>TUTORIAL</h1>
                        Learn to play yoyo from beginner to advance trick
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id = "navbarMenu">
        <div id = "navsmall" onclick = "display()">
            <div id = "navbarBurger"><img src = "../assets/menu-button-of-three-lines.png"></div>
            <div id = "logo"><img src = "../assets/invertLogo.png"></div>
        </div>
        <div class="menuContent">HOME</div>
        <div class="menuContent">
            <div id = "dropDown" onclick = "displaytypes()"> TYPES</div> 
            <div class="subContent">
                <a href="#">BASIC</a>
                <a href="#">PROFESSIONAL</a>
            </div>
        </div>
        <div class="menuContent">TUTORIALS</div>
        <div class="menuContent">CONTACTS</div>
        <div class="menuContent">REGISTRATION</div>
    </div>
    <div id = "content">
        <div class = "container odd">
            <div class = "box odd">
                <div class = "img">
                    <img src = "../assets/yoyo.png">
                </div>
                <div class = "text">
                    <h1>Find Any Yoyos</h1>
                    JsYoyo is a yoyo company that has a variety of yoyos, from basic yoyos to professional yoyos.
                </div>
            </div>
        </div>
        <div class = "container">
            <div class = "box">
                <div class = "img">
                    <img src = "../assets/factory.png">
                </div>
                <div class = "text">
                    <h1>Outstanding Company</h1>
                    We had sponsored some of the famous yoyo performances and competitions around the world.
                </div>
            </div>
        </div>
        <div class = "container odd">
            <div class = "box odd">
                <div class = "img">
                    <img src = "../assets/customer-service.png">
                </div>
                <div class = "text">
                    <h1>Excellence Service</h1>
                    Quality and customer happiness is foundation of JsYoyo. We always try our best to make a happy world
                </div>
            </div>
        </div>
    </div>
    <div id = "types">
        <h1>TYPES</h1>
        <div class = "typeslevel left">
            <div class = "container" onclick = "container(0)">
                <img src = "../assets/homebeginner.png" id = "basic">
                <div class = "typesdesc">BASIC</div>
            </div>
            <div class = "description">
                <h1>BASIC YOYO TYPES</h1>
                <br>
                Recommended for newbie.<br>
                Basic Yoyo use classic shape to help people do some basic tricks. It also use plastic for base material to reduce chance to get injury
            </div>
        </div>
        <div class = "typeslevel right">
            <div class = "container" onclick = "container(1)">
                <img src = "../assets/homeprofessional.png">
                <div class = "typesdesc">PROFESSIONAL</div>
            </div>
            <div class = "description">
                <h1>PROFESSIONAL YOYO TYPES</h1>
                <br>
                Recommended for advanced player.<br>
                Basic Yoyo use classic shape to help people do some basic tricks. It also use plastic for base material to reduce chance to get injury
            </div>
        </div>
    </div>
    <div id = "footer">
        <div class = "container">
            <div id = "text">
                Follow Us
            </div>
            <div id = "logo">
                <div class = "icon"><img src="../assets/instagram-logo-white.png"></div>
                <div class = "icon"><img src="../assets/tumblr-logo-button-white.png"></div>
                <div class = "icon"><img src="../assets/twitter-logo-button-white.png"></div>
                <div class = "icon"><img src="../assets/facebook-logo-button-white.png"></div>
                <div class = "icon"><img src="../assets/google-plus-logo-button-white.png"></div>
            </div>
        </div>
        <div class = "container">
            <div id = "subscribe">
            </div>
            <div id = "copyright">
                Copyright © JS Yoyo 2018
            </div>
        </div>
    </div>
</body>
<script src="../scripts/navbar.js"></script>
<script src="../scripts/firstpage.js"></script>
</html>