<div id = "navbarMenu">
    <div id = "navsmall" onclick = "display()">
        <div id = "navbarBurger"><img src = "../assets/menu-button-of-three-lines.png"></div>
        <div id = "logo"><img src = "../assets/invertLogo.png"></div>
    </div>
    <div class="menuContent">HOME</div>
    <div class="menuContent">
        <div id = "dropDown" onclick = "displaytypes()"> TYPES</div> 
        <div class="subContent">
            <a href="#">BASIC</a>
            <a href="#">PROFESSIONAL</a>
        </div>
    </div>
    <div class="menuContent">TUTORIALS</div>
    <div class="menuContent">CONTACTS</div>
    <div class="menuContent">REGISTRATION</div>
</div>