<!-- views/professional.html -->

<!DOCTYPE html>
<html>
<head>
	<title>Professional</title>
	<link rel="stylesheet" type="text/css" href="../styles/base.css">
	<link rel="stylesheet" type="text/css" href="../styles/responsive.css">
	<link rel="stylesheet" type="text/css" href="../styles/product.css">
	<link rel="stylesheet" type="text/css" href="../styles/product_responsive.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="loadPage()">
	<div id="products">
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/pro1.jpg"><br>
				<nav class="responsive">YoYo Factory DV888</nav>
			</div>
			<div class="detailProduct">
				<div class="text">
					<img src="../assets/image/pro1.jpg"><br class="imageResponsive">
					<b>YoYo Factory DV888</b><br>
					Body material : aluminium<br>
					Machine type : bearing
				</div>
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/pro2.jpg"><br>
				<nav class="responsive">One Drop Cabal Yoyo</nav>
			</div>
			<div class="detailProduct">
				<div class="text">
					<img src="../assets/image/pro2.jpg"><br class="imageResponsive">
					<b>One Drop Cabal Yoyo</b>
					<br>Body material : stainless steel
					<br>Machine type : bearing
				</div>
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/pro3.jpg"><br>
				<nav class="responsive">Yoyo Factory Shutter Yoyo</nav>
			</div>
			<div class="detailProduct">
				<div class="text">
					<img src="../assets/image/pro3.jpg"><br class="imageResponsive">
					<b>Yoyo Factory Shutter Yoyo</b>
					<br>Body material : CBC plastic
					<br>Machine type : bearing
				</div>
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/pro4.jpg"><br>
				<nav class="responsive">One Drop Cascade Yoyo</nav>
			</div>
			<div class="detailProduct">
				<div class="text">
					<img src="../assets/image/pro4.jpg"><br class="imageResponsive">
					<b>One Drop Cascade Yoyo</b>
					<br>Body material : stainless steel
					<br>Machine type : bearing
				</div>
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/pro5.jpg"><br>
				<nav class="responsive">Henry's Python Yoyo</nav>
			</div>
			<div class="detailProduct">
				<div class="text">
					<img src="../assets/image/pro5.jpg"><br class="imageResponsive">
					<b>Henry's Python Yoyo</b>
					<br>Body material : silicone
					<br>Machine type : bearing
				</div>
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/pro6.jpg"><br>
				<nav class="responsive">Recess Joyride Yoyo</nav>
			</div>
			<div class="detailProduct">
				<div class="text">
					<img src="../assets/image/pro6.jpg"><br class="imageResponsive">
					<b>Recess Joyride Yoyo</b>
					<br>Body material : aluminium alloy
					<br> Machine type : bearing
				</div>
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/pro7.jpg"><br>
				<nav class="responsive">Yoyo Factory Ex-Machina</nav>
			</div>
			<div class="detailProduct">
				<div class="text">
					<img src="../assets/image/pro7.jpg"><br class="imageResponsive">
					<b>Yoyo Factory Ex-Machina</b>
					<br>Body material : aluminium alloy
					<br>Machine type : bearing
				</div>
			</div>
		</div>
		<div class="product">
			<div class="headerProduct">
				<img src="../assets/image/pro8.jpg"><br>
				<nav class="responsive">One Drop Gradient Yoyo</nav>
			</div>
			<div class="detailProduct">
				<div class="text">
					<img src="../assets/image/pro8.jpg"><br class="imageResponsive">
					<b>One Drop Gradient Yoyo</b>
					<br>Body material : aluminium
					<br>Machine type : bearing
				</div>
			</div>
		</div>
	</div>
<!-- 
	<div style="width: 80vw; height: 100px; background-color: red;"></div>
	<br><br><br><br><br><br><br><br><br> -->
</body>

<script type="text/javascript" src="../scripts/libs/jquery-latest.min.js"></script>
<script type="text/javascript" src="../scripts/product.js"></script>

</html>