<!DOCTYPE html>
<html>
<head>
	<title>Professional</title>
	<link rel="stylesheet" type="text/css" href="../styles/product.css">
	<link rel="stylesheet" type="text/css" href="../styles/base.css">
</head>
<body>
	<div class="table basic">
		<div class="row">
			<div class="cell"><img src="../assets/image/pro1.jpg"></div>
			<div class="cell"><img src="../assets/image/pro2.jpg"></div>
			<div class="cell"><img src="../assets/image/pro3.jpg"></div>
			<div class="cell"><img src="../assets/image/pro4.jpg"></div>
		</div>
		<div class="row">
			<div class="cell">YoYo Factory DV888</div>
			<div class="cell">One Drop Cabal Yoyo</div>
			<div class="cell">Yoyo Factory Shutter Yoyo</div>
			<div class="cell">One Drop Cascade Yoyo</div>
		</div>
		<div class="row">
			<div class="cell price">450.000 IDR</div>
			<div class="cell price">850.000 IDR</div>
			<div class="cell price">700.000 IDR</div>
			<div class="cell price">1.500.000 IDR</div>
		</div>
		<div class="row">
			<div class="cell"><a href="#">Buy Now</a></div>
			<div class="cell"><a href="#">Buy Now</a></div>
			<div class="cell"><a href="#">Buy Now</a></div>
			<div class="cell"><a href="#">Buy Now</a></div>
		</div>
	</div>

	<div class="table basic">
		<div class="row">
			<div class="cell"><img src="../assets/image/pro5.jpg"></div>
			<div class="cell"><img src="../assets/image/pro6.jpg"></div>
			<div class="cell"><img src="../assets/image/pro7.jpg"></div>
			<div class="cell"><img src="../assets/image/pro8.jpg"></div>
		</div>
		<div class="row">
			<div class="cell">Henry's Python Yoyo</div>
			<div class="cell">Recess Joyride Yoyo</div>
			<div class="cell">Yoyo Factory Ex-Machina</div>
			<div class="cell">One Drop Gradient Yoyo</div>
		</div>
		<div class="row">
			<div class="cell price">900.000 IDR</div>
			<div class="cell price">675.000 IDR</div>
			<div class="cell price">1.650.000 IDR</div>
			<div class="cell price">1.200.000 IDR</div>
		</div>
		<div class="row">
			<div class="cell"><a href="#">Buy Now</a></div>
			<div class="cell"><a href="#">Buy Now</a></div>
			<div class="cell"><a href="#">Buy Now</a></div>
			<div class="cell"><a href="#">Buy Now</a></div>
		</div>
	</div>
</body>
</html>