<!-- views/professional.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../styles/base.css">
        <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
        <link rel="stylesheet" type="text/css" href="../styles/footer.css">
        <link rel="stylesheet" type="text/css" href="../styles/product.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="navbar">
            <a id = "logo" href="../index.html"></a>
            <div id = "navbarBurger" onclick = "displayMenu()"></div>
            <div id = "navbarMenu">
                <a class="menuContent" href="../index.html">HOME</a>
                <div class="menuContent">
                    <div id = "dropDown" onclick = "displaySubMenu()">
                        TYPES
                    </div>
                    <div class="subContent">
                        <a href="basic.html">BASIC</a>
                        <a href="professional.html">PROFESSIONAL</a>
                    </div>
                </div>
                <a class="menuContent" href="tutorial.html">TUTORIALS</a>
                <a class="menuContent" href="contact.html">CONTACTS</a>
                <a class="menuContent" href="registration.html">REGISTRATION</a>
            </div>
        </div>
        <div class = "description">
            <h1>Professional Yoyo</h1>
            Recommended for advanced player.<br>
            Basic Yoyo use classic shape to help people do some basic tricks. It also use plastic for base material to reduce chance to get injury
        </div>
        <div id="products">
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/pro1.jpg"><br>
                    <nav class="responsive">YoYo Factory DV888</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/pro1.jpg"><br class="imageResponsive">
                        <b>YoYo Factory DV888</b><br>
                        Body material : aluminium<br>
                        Machine type : bearing
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/pro2.jpg"><br>
                    <nav class="responsive">One Drop Cabal Yoyo</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/pro2.jpg"><br class="imageResponsive">
                        <b>One Drop Cabal Yoyo</b>
                        <br>Body material : stainless steel
                        <br>Machine type : bearing
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/pro3.jpg"><br>
                    <nav class="responsive">Yoyo Factory Shutter Yoyo</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/pro3.jpg"><br class="imageResponsive">
                        <b>Yoyo Factory Shutter Yoyo</b>
                        <br>Body material : CBC plastic
                        <br>Machine type : bearing
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/pro4.jpg"><br>
                    <nav class="responsive">One Drop Cascade Yoyo</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/pro4.jpg"><br class="imageResponsive">
                        <b>One Drop Cascade Yoyo</b>
                        <br>Body material : stainless steel
                        <br>Machine type : bearing
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/pro5.jpg"><br>
                    <nav class="responsive">Henry's Python Yoyo</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/pro5.jpg"><br class="imageResponsive">
                        <b>Henry's Python Yoyo</b>
                        <br>Body material : silicone
                        <br>Machine type : bearing
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/pro6.jpg"><br>
                    <nav class="responsive">Recess Joyride Yoyo</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/pro6.jpg"><br class="imageResponsive">
                        <b>Recess Joyride Yoyo</b>
                        <br>Body material : aluminium
                        <br> Machine type : bearing
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/pro7.jpg"><br>
                    <nav class="responsive">Yoyo Factory Ex-Machina</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/pro7.jpg"><br class="imageResponsive">
                        <b>Yoyo Factory Ex-Machina</b>
                        <br>Body material : aluminium
                        <br>Machine type : bearing
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="headerProduct">
                    <img src="../assets/products/pro8.jpg"><br>
                    <nav class="responsive">One Drop Gradient Yoyo</nav>
                </div>
                <div class="detailProduct">
                    <div class="text">
                        <img src="../assets/products/pro8.jpg"><br class="imageResponsive">
                        <b>One Drop Gradient Yoyo</b>
                        <br>Body material : aluminium
                        <br>Machine type : bearing
                    </div>
                </div>
            </div>
        </div>
        <div id = "footer">
            <div class = "container">
                <div id = "text">
                    Follow Us
                </div>
                <div id = "logo">
                    <div class = "icon"><img src="../assets/socials/instagram-logo-white.png"></div>
                    <div class = "icon"><img src="../assets/socials/tumblr-logo-button-white.png"></div>
                    <div class = "icon"><img src="../assets/socials/twitter-logo-button-white.png"></div>
                    <div class = "icon"><img src="../assets/socials/facebook-logo-button-white.png"></div>
                    <div class = "icon"><img src="../assets/socials/google-plus-logo-button-white.png"></div>
                </div>
            </div><div class = "container">
                <div id = "copyright">
                    Copyright &copy; JS Yoyo 2018
                </div>
            </div>
        </div>
    </body>
    <script src="../scripts/libs/jquery-latest.min.js"></script>
    <script src="../scripts/navbar.js"></script>
    <script src="../scripts/product.js"></script>
</html>

<!-- EOF -->