<!-- views/home.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../styles/base.css">
    <link rel="stylesheet" type="text/css" href="../styles/responsive.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar">
        <div id="navbarLogo"></div>
        <div id="navbarBurger" onclick="openMenu()">Menu</div>
        <div id="navbarMenu">
            <div class="menuContent">Home</div>
            <div class="menuContent">Basic<br class="responsive"> Yo-yo</div>
            <div class="menuContent">Professional<br class="responsive"> Yo-yo</div>
            <div class="menuContent">Tutorials</div>
            <div class="menuContent">Contacts</div>
            <div class="menuContent">Registration</div>
        </div>
    </div>
    <div class="content">
        <button onclick="show()">Press to test</button>
        <span id="___collapse" style="display: none;">
            halo<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>halo
        </span>
    </div>
    <div class="footer">
        Copyright &copy; JS Yo-yo 2018
    </div>

    <script type="text/javascript" src="../scripts/responsive.js"></script>
    <script type="text/javascript">
        var imgDisp=false;
        function show(){
            imgDisp=!imgDisp;
            if(imgDisp)document.getElementById("___collapse").style.display="block";
            else document.getElementById("___collapse").style.display="none";
        }
    </script>
</body>
</html>