<!-- views/home.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Tutorial</title>
    <link rel="stylesheet" type="text/css" href="../styles/base.css">
    <link rel="stylesheet" type="text/css" href="../styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="../styles/tutorial.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar"></div>
    <div class="content">
        <button onclick="show()">Press to test</button>
        <span id="___collapse" style="display: none;">
            halo<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>halo
        </span>
    </div>
    <div class="footer"></div>

    <script type="text/javascript" src="../scripts/responsive.js"></script>
    <script type="text/javascript">
        var imgDisp=false;
        function show(){
            imgDisp=!imgDisp;
            if(imgDisp)document.getElementById("___collapse").style.display="block";
            else document.getElementById("___collapse").style.display="none";
        }
    </script>
</body>
</html>