#content{
    position: relative;
    width: 100vw;
    height: auto;
    margin:0;
    padding: 0;
}

#content > .container{
    display: block;
    width: inherit;
    position: relative;
    height: 33vh;
}

#content  .odd{
    color: #ECECEA;
    width: inherit;
    background-color: #545253;
    height: 33vh;
}

#content > .container > .box {
    width: inherit;
    float: left;
}

#content > .container > .box > .img{
    display: inline-block;
    width: 30%;
    height: inherit;
    top: 50%;
    transform: translateY(10%);
}

#content > .container > .box > .text{
    display: inline-block;
    width: 50%;
    height: inherit;
    margin: 0;
    padding: 0;
    font-size: 25px;
    top: 50%;
    transform: translateY(10%);
}

#content > .container > .box > .text > h1{
    font-size: 30px;
    margin:0;
    font-weight: bold;
}

@media only screen and (max-width: 1024px){
    #content > .container {
        display: block;
        height: 35vh;
    }
    #content > .container > .box > .img{
        top: 50%;
        transform: translateY(20%);
    }
    #content > .container > .box > .text{
        display: inline-block;
        width: 50%;
        margin: 0;
        padding: 0;
        font-size: 18px;
        top: 50%;
        transform: translateY(0%);
    }
}


@media only screen and (max-width: 550px){
    #content > .container{
        display: block;
        width: inherit;
        position: relative;
        height: auto;
    }
    #content .odd{
        display: block;
        width: inherit;
        height: auto;
        float: none;
    }

    #content > .container > .box {
        padding-left: 0;
        padding-right: 0;
        width: inherit;
        float: left;
        display: block;
    }

    #content > .container > .box > .img{
        display: block;
        width: 100%;
        height: inherit;
        margin: 0;
        top: 0;
        transform: translateY(0);
    }

    #content > .container > .box > .text{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 20px;
        top: 0;
        transform: translateY(0);
    }
}