#navbarMenu{
    position: sticky;
    width: 100vw;
    height: 80px;
    top: 0;
    background-color: #122D3D;
    z-index: 1;
    color: #F4F4F4;
    font-size: 25px;
}

#navbarMenu > #navsmall > #navbarBurger{
    display: none;
}

#navbarMenu > #navsmall > #logo{
    width: 30%;
    display: inline-block;
    float: left;

}

#navbarMenu > #navsmall > #logo > img{
    width: 40%;
    height: auto;
    transform: translateY(10%);
}

#navbarMenu > .menuContent{
    display: inline-block;
    width: 14%;
    float: left;
    padding-top: 20px;
}

#navbarMenu > .menuContent > .subContent {
    position: absolute;
    width: inherit;
    display: none;
    margin-top: 25px;
    background-color: #122D3D;
}

#navbarMenu > .menuContent > .subContent > a{
    float: none;
    display: block;
    text-decoration: none;
    transform: translateY(30%);
    height: 80px;
}

#navbarMenu > .menuContent > .subContent > a:visited{
    color: #F4F4F4;
}

#navbarMenu > .menuContent > #dropDown:hover + .subContent{
    display: block;
}

@media only screen and (max-width: 1024px){
    #navbarMenu{
        height: 50px;
        font-size: 13px;
    }
    #navbarMenu > #navsmall > #logo > img{
        width: 45%;
        height: auto;
    }
    #navbarMenu > .menuContent{
        padding-top: 15px;
    }
    #navbarMenu > .menuContent > .subContent {
        margin-top: 15px;
    }
    #navbarMenu > .menuContent > .subContent > a{
        float: none;
        display: block;
        text-decoration: none;
        transform: translateY(30%);
        height: 50px;
    }
}


@media only screen and (max-width: 550px){
    #navbarMenu{
        float: none;
    }
    #navbarMenu > #navsmall{
        background-color: #122D3D;
        height: inherit;
        width: 100%;
    }

    #navbarMenu > #navsmall > #navbarBurger{
        width: 15%;
        height: inherit;
        display: inline-block;
        float: left;
        margin-left: 5%;
    }
    #navbarMenu > #navsmall > #navbarBurger > img{
        width: 60%;
        height: inherit;
        display: inline-block;
        float: left;
    }
    #navbarMenu > #navsmall > #logo{
        width: 60%;
        display: inline-block;
        height: inherit;
        float: left;
        background-color: #122D3D;
        overflow: hidden;
    }

    #navbarMenu > #navsmall > #logo > img{
        width: 40%;
        height: auto;
        transform: translateY(10%);
    }

    #navbarMenu > .menuContent{
        display: none;
        width: 100%;
        float: left;
        padding-top: 20px;
        background-color: #122D3D;
        font-size: 20px;
        border-top-style: solid;
        border-color: black;
    }
    #navbarMenu > .menuContent > #dropDown{
        position: relative;
        display: block;
    }
    #navbarMenu > .menuContent > .subContent {
        position: relative;
        display: none;
    }
    #navbarMenu > .menuContent > .subContent > a{
        border-top-style: solid;
        border-color: black;
    }
    #navbarMenu > .menuContent > #dropDown:hover + .subContent{
        display: block;
    }
}