
body{
	margin: 0px;
  	padding: 0px; 
  	font-size: 20px;
  	font-weight: lighter;
  	color: #222;
  	font-family: 'Segoe UI';
	text-align: center;
}

div.products{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 92vw;
}

div.products > div.product{
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
	width: 23vw;
	height: 250px;
	text-align: center;
}

div.product > div.headerProduct{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: inherit;
	height: inherit;
}

div.headerProduct > img{
	max-height: 200px;
	width: 15vw;
}

div.product > div.detailProduct{
	display: none;
	position: relative;
	margin: 0px;
	padding: 0px;
	width: inherit;
	height: inherit;
	background-color: lightgrey;
}

div.bubble{
	display: initial;
	position: absolute;
	top: 50%;
	left: 0px;
	margin: 0px;
	padding: 0px;
	width: inherit;
	vertical-align: middle;
	text-align: center;

	transform: translateY(-50%);
}

div.product:hover > div.headerProduct{
	display: none;
}

div.product:hover > div.detailProduct{
	display: inline-block;
}
