@media only screen and (max-width: 1024px){
    #first{
        width: 100vw;
        height: 100vh;
    }
    #first > #title{
        height: 50vh;
        width: 100vw;
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
    }
    #first > #rightside{
        height: 50vh;
        width: 100vw;
    }
    #first > #rightside > #imagetop{
        float: left;
        height: inherit;
        width: 50vw;
        display: block;
    }
    #first > #rightside > #imagebottom{
        float: right;
        height: inherit;
        width: 50vw;
        display: block;
    }
    #first > #title > .container > img{
        width: 100%;
    }

    #first > #title > .text{
        top: 70%;
        font-size: 25px;
    }

    #navbarMenu{
        font-size: 10px;
    }

}


@media only screen and (max-width: 550px){
    #first > #rightside{
        height: 100vh;
    }
    #first > #title > .container > img{
        width: 100%;
    }

    #first > #rightside > #imagetop{
        float: left;
        height: 50vh;
        width: inherit;
        display: block;
    }
    #first > #rightside > #imagebottom{
        float: right;
        height: 50vh;
        width: inherit;
        display: block;
    }
    #first > #title > .text{
        top: 70%;
        font-size: 20px;
    }

    #navbarBurger{
        display: inline-block;
        position: sticky;
    }
    div#navbarMenu > div.menuContent{
        display: block;
        height: 30px;
        width: 100%;
        font-size: 18px;
        position: relative;
    }
    #navbarMenu > .dropDown > .subContent {
        display: block;
        float: none;
        position: relative;
    }
    #navbarMenu > .dropDown > .subContent > a {
        display: block;
        padding: 10px 0px 10px;
        height: auto;
        width: 100%;
        color: white;
        position: relative;
    }
}